<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Card Check</title>
</head>
<body>

<div>
    <div style="float: left; width: 300px;">
        <form th:action="@{/card/find/}" method="get">
            <input type="text" th:value="${bin}" name="bin" placeholder="Введите Card BIN"/>
            <input type="submit"/>
        </form>
    </div>

    <div style="float: left; width: 300px;" th:if="${not #lists.isEmpty(lastChecked)}">
        <label>Последние запрошенные BIN`s:</label>
        <div th:each="card : ${lastChecked}">
            <div th:text="${card.bin}"></div>
        </div>
        <p></p>
    </div>
</div>

<div style="clear: left;" th:if="${not #lists.isEmpty(card)}">
    Card: <label th:text= "${card.bin}"></label>
    <p></p>
    <table border="border: 1px">
        <tr>
            <th>Number</th>
            <th>Scheme</th>
            <th>Type</th>
            <th>Brand</th>
            <th>Prepaid</th>
            <th>Country</th>
            <th>Bank</th>
        </tr>
        <tr>
            <td th:text="${card.number}"></td>
            <td th:text="${card.scheme}"></td>
            <td th:text="${card.type}"></td>
            <td th:text="${card.brand}"></td>
            <td th:text="${card.prepaid}"></td>
            <td th:text="${card.country}"></td>
            <td th:text="${card.bank}"></td>
        </tr>
    </table>
</div>

</body>
</html>